body{
    margin: 0; 
    padding:0;
}
header{
    background-color: black;
    color: white;
}
h1{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px;
}
h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: white;
}
.background-image{
    background-image: url(https://images.unsplash.com/photo-1514432324607-a09d9b4aefdd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    height: 400px;

}
p{
    color: white;
    text-align: center;
    margin: auto;
    line-height: 1.9em;
    font-size: 18px;
}
button{
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}